.img{
    display: flex;
  justify-content: center;
  align-items: center; 
  margin: auto;
  padding: auto;
  margin-left: 145px;
  margin-right:145px;
  
  
}

.oi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

body{
    background: url('Red.jpg') no-repeat;
    padding: 15px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100% 
    position: absolute;
} 

.text{
    font-family: 'Trebuchet MS', sans-serif;
}

.cihuy{
text-align: center;
    font-family: cursive;
}

.foto{
    text-align: center;
}
